.Content
{
    width: 300px;
    margin: 0 auto;
    // border: 2px solid red;


    .Input
    {
        margin-top: 20px;
    }

    .TaskList
    {
        margin-top: 10px;
        // border: 2px solid blue;
    }
}
